####################################
# ROOT
####################################
.env
.env.local

####################################
# .NET / ASP.NET Core
####################################
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.mdf
*.ldf

# Rider / VS Code / Visual Studio
.vs/
.vscode/
.idea/

####################################
# ASP.NET Core secrets
####################################
secrets.json

####################################
# Angular / Node
####################################
node_modules/
dist/
.angular/
.cache/

####################################
# Logs
####################################
logs/
*.log

####################################
# OS Files
####################################
.DS_Store
Thumbs.db

####################################
# Coverage / Test
####################################
coverage/
TestResults/

####################################
# Angular Environment Overrides
####################################
environment.prod.ts
environment.local.ts

####################################
# Misc
####################################
*.swp
*.tmp
